<div class="welcome-section-container">
  <div class="section-content-wrapper">
    <div class="text-container">
      <h2>Welcome.</h2>
      <h5>Millions of movies, TV shows and people to discover. Explore now.</h5>
    </div>
    <div class="form-wrapper">
      <form class="form-container">
        <label>
          <input
            tabIndex="1"
            autoCorrect="off"
            autofill="off"
            autoComplete="off"
            spellCheck="false"
            id="search-box"
            #searchBox
            placeholder="Search for a movie, tv show, person......"
            (input)="searchSuggestions(searchBox.value)"
            (focus)="searchInputFocued()"
          />
        </label>
        <input type="submit" class="search-submit-btn" value="Search">
      </form>
      <ul class="suggestion-list">
          <ng-template *ngFor="let key of suggestions$ | async">
            <li *ngFor="let suggestion of key.results">
              {{suggestion.title || suggestion.name}}
            </li>
          </ng-template>
        <!-- <li>Movie 1</li>
        <li>Movie 1</li>
        <li>Movie 1</li>
        <li>Movie 1</li> -->
      </ul>
    </div>
  </div>
</div>
