<div class="trending-section-contianer">
  <h3>Trending Movies</h3>
  <div (scroll)="manageScrollButtons()" class="trending-cards-wrapper" id="scrollContainer">
    <button
      class="scroll-button left hide"
      id="leftScroll"
      (click)="scrollRight('left')"
    >
      &#60;
    </button>
    <button
      class="scroll-button right"
      id="rightScroll"
      (click)="scrollRight('right')"
    >
      &#62;
    </button>
    <ng-container *ngIf="trendingShows.length">
      <div *ngFor="let show of trendingShows">
        <app-media-card
          [bannerUrl]="show.poster_path"
          [name]="show.title || show.name"
          [mediaType]="show.media_type"
          [id]="show.id"
          [releaseDate]="show.release_date || show.first_air_date"
        >
        </app-media-card>
      </div>
    </ng-container>
  </div>
</div>
