/* You can add global styles to this file, and also import other style files */

:root {
  --header-height: 60px;
  --primary-color: #f5c518;
  --main-bg-color: #131b23;
  --main-bg-color-2: #142638;
  --text-color-main:  #fff;
  --z-index-header: 20;
  --rounded: 5px;
  --normal-transition-time: 200ms;
  --short-transition-time: 100ms;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

[role="button"] {
  cursor: pointer;
}

input:focus{
  outline: none;
}